{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_rating/rating

    Displays a rating

    Example context (json):
    {}
}}

{{#capabilities.rate}}
    <form id="postrating{{itemid}}" class="postratingform" method="post" action="{{{urls.rate}}}">
        <div class="ratingform">
            <input type="hidden" class="ratinginput" name="contextid" value="{{contextid}}">
            <input type="hidden" class="ratinginput" name="component" value="{{component}}">
            <input type="hidden" class="ratinginput" name="itemid" value="{{itemid}}">
            <input type="hidden" class="ratinginput" name="scaleid" value="{{settings.scale.id}}">
            <input type="hidden" class="ratinginput" name="rateduserid" value="{{itemuserid}}">
            <input type="hidden" class="ratinginput" name="aggregation" value="{{settings.aggregationmethod}}">
            <input type="hidden" class="ratinginput" name="sesskey" value="{{config.sesskey}}">
{{/capabilities.rate}}

{{#capabilities.viewaggregate}}
    <span class="rating-aggregate-label">{{aggregatelabel}}</span>
    {{#capabilities.viewall}}
        <a id="view-all-{{uniqid}}" href="{{{urls.viewall}}}">
            <span id="ratingaggregate{{itemid}}" class="ratingaggregate">{{aggregatestr}}</span>
            <span id="ratingcount{{itemid}}" class="ratingcount">{{#count}}({{.}}){{/count}}{{^count}}-{{/count}}</span>
        </a>
    {{/capabilities.viewall}}
    {{^capabilities.viewall}}
        <span id="ratingaggregate{{itemid}}" class="ratingaggregate">{{aggregatestr}}</span>
        <span id="ratingcount{{itemid}}" class="ratingcount">{{#count}}({{.}}){{/count}}{{^count}}-{{/count}}</span>
    {{/capabilities.viewall}}
{{/capabilities.viewaggregate}}
{{^capabilities.viewaggregate}}
    {{#str}} rate:, core_rating {{/str}}
{{/capabilities.viewaggregate}}

{{#capabilities.rate}}
            <label class="accesshide" for="menurating{{itemid}}">{{rating}}</label>
            <select id="menurating{{itemid}}" class="postratingmenu ratinginput">
                <option value="-999" disabled {{^rating}}selected{{/rating}}>{{#str}} rate..., core_rating {{/str}}</option>
                {{#settings.scale.scaleitems}}
                    <option value="{{value}}" {{#selected}}selected{{/selected}}>{{name}}</option>
                {{/settings.scale.scaleitems}}
            </select>
            <span class="ratingsubmit">

            </span>
        </div>
    </form>
{{/capabilities.rate}}

{{#js}}
{{#capabilities.viewall}}
require(['jquery'], function($) {
    var viewAllLink = $('#view-all-{{uniqid}}');
    viewAllLink.click(function(e) {
        openpopup(e, {
            name: '{{#str}} allratingsforitem, core_rating {{/str}}',
            url: '{{{urls.viewallpopup}}}',
            height: 400,
            width: 600
        });
    });
});
{{#capabilities.viewall}}
{{/js}}