{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Tag condition.
}}
<div data-region="tag-condition-container-{{uniqid}}">
    <div class="form-group">
        <select multiple name="qtagids[]" class="form-control" data-region="tag-select">
            {{#tagoption}}
            <option {{#selected}}selected{{/selected}} value="{{id}}">{{name}}</option>
            {{/tagoption}}
        </select>
    </div>
</div>
{{#js}}
require(['jquery', 'core_question/tag_condition'], function($, TagCondition) {
    TagCondition.init($('[data-region="tag-condition-container-{{uniqid}}"]'));
});
{{/js}}
