{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more comments.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tool_dataprivacy/data_registry_compliance

    Data registry main page.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {
        "types" : {
            "plugin_type_raw" : "mod",
            "plugin_type" : "Activities and Modules"
        },
        "count" : 5
    }
}}
<div class="dataprivacy-main">
    <h2>{{#str}}pluginregistrytitle, tool_dataprivacy{{/str}}</h2>
    <hr />
    {{#count}}
        <div class="alert alert-warning alert-block fade in">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{#pix}}i/risk_xss, moodle, {{#str}}requiresattention, tool_dataprivacy{{/str}}{{/pix}}
            {{#str}}requiresattentionareas, tool_dataprivacy, {{count}}{{/str}}
            <button class="tool_dataprivacy-filter" data-display="show" data-type="api-issue">{{#str}}filterresults, tool_dataprivacy{{/str}}</button>
        </div>
    {{/count}}
    <p><strong>{{#str}}explanationtitle, tool_dataprivacy{{/str}}</strong></p>
    <dl>
        <dt>{{#pix}}i/risk_xss, moodle, {{#str}}requiresattention, tool_dataprivacy{{/str}}{{/pix}}</dt>
        <dd>{{#str}}requiresattentionexplanation, tool_dataprivacy{{/str}}</dd>
        <dt><span class="badge badge-pill badge-notice">{{#str}}external, tool_dataprivacy{{/str}}</span></dt>
        <dd>{{#str}}externalexplanation, tool_dataprivacy{{/str}}</dd>
    </dl>
    <hr />
    <!-- Search and filtering area -->
    <div class="tool_dataprivacy-search-area">
        <input type="text" class="tool_dataprivacy-search-box" placeholder="{{#str}}searchplaceholder, tool_dataprivacy{{/str}}" />
        <input class="tool_dataprivacy-filter" type="checkbox" name="additional" data-type="additional" data-display="show">{{#str}}external, tool_dataprivacy{{/str}}
        <input class="tool_dataprivacy-filter" type="checkbox" name="api-issue" data-type="api-issue" data-display="show">{{#str}}requiresattention, tool_dataprivacy{{/str}}
    </div>
    <br />
    <br />
    <div class="clearfix"><a class="tool_dataprivacy-expand-all pull-right" href="#" data-visibility-state='visible'>{{#str}}hide, tool_dataprivacy{{/str}}</a></div>
    {{#types}}
    <div>
        <div class="type expand" data-plugin="{{plugin_type_raw}}">
            <a  href='#'>
            <h3 id="{{plugin_type_raw}}">{{#pix}}t/collapsed, moodle, {{#str}}expandplugintype, tool_dataprivacy{{/str}}{{/pix}}{{plugin_type}}</h3>
            </a>
        </div>
        <div class="tool_dataprivacy-element hide p-b-1" data-plugintarget="{{plugin_type_raw}}" aria-expanded="false" role="contentinfo">
            {{#plugins}}
                {{> tool_dataprivacy/component_status}}
            {{/plugins}}
        </div>
    </div>
    {{/types}}
    <div class="tool_dataprivacy-component-count hide">
        <p>{{#str}}allcomponentsgood, tool_dataprivacy{{/str}}</p>
    </div>
</div>
{{#js}}
require(['jquery', 'tool_dataprivacy/expand_contract'], function($, ec) {

    ec.init({{{rawdata}}});

    $('.expand').click(function(e) {
        e.preventDefault();
        e.stopPropagation();
        ec.expandCollapse($(this));
    });

    $('.tool_dataprivacy-expand-all').click(function(e) {
        e.preventDefault();
        e.stopPropagation();
        var nextstate = $(this).attr('data-visibility-state');
        ec.expandCollapseAll(nextstate);
    });

    $('.tool_dataprivacy-filter').click(function() {
        var type = $(this).attr('data-type');
        if ($(this).attr('data-display') == "show") {
            $('.tool_dataprivacy-filter[data-type="' + type + '"]').attr('data-display', 'hide');
            $('.tool_dataprivacy-filter[data-type="' + type + '"]').prop('checked', true);
        } else {
            $('.tool_dataprivacy-filter[data-type="' + type + '"]').attr('data-display', 'show');
            $('.tool_dataprivacy-filter[data-type="' + type + '"]').prop('checked', false);
        }
        ec.filterList();
    });

    $('[data-link]').click(function() {
        ec.followLink($(this).data('link'));
    });

    $('.tool_dataprivacy-search-box').keyup(function() {
        ec.search();
    });

});
{{/js}}
