{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_forum/local/grades/local/grader/navigation

    Classes required for JS:
    * TODO

    Data attributes required for JS:
    * TODO

    Context variables required for this template:
    * TODO

    Example context (json):
    {
    }
}}
<nav class="grader-grading_navigation navbar">
    <button class="btn btn-link px-2 colour-inherit" data-action="closegrader">
        <h5 class="d-inline px-0 mb-0">COURSE NAME HERE</h5>
    </button>
    <span class="text-muted icon-no-margin">{{#pix}} i/breadcrumbdivider, core {{/pix}}</span>
    <button class="btn btn-link px-2 colour-inherit" data-action="closegrader">
        <h5 class="d-inline px-0 mb-0">{{moduleName}}</h5>
    </button>
    <span class="text-muted icon-no-margin">{{#pix}} i/breadcrumbdivider, core {{/pix}}</span>
    <h5 class="d-inline px-2 mb-0 font-weight-bold">{{#str}}grading, forum{{/str}}</h5>

    <div class="ml-auto">
        <button
            id="toggle-grading-drawer-{{uniqid}}"
            class="btn btn-icon icon-no-margin"
            aria-label="Open or close grader panel"
            data-action="expandgrader"
        >
            {{#pix}} layout-default, mod_forum, {{#str}} defaultlayout, mod_forum {{/str}} {{/pix}}
        </button>
        <button
            class="btn btn-primary font-weight-bold ml-2 px-4"
            data-action="savegrade"
        >
            {{#str}} save {{/str}}
        </button>
        <button
            class="btn btn-outline-dark font-weight-bold ml-2 px-4"
            aria-label="{{#str}} closegrader, mod_forum {{/str}}"
            data-action="closegrader"
        >
            {{#str}} close, mod_forum {{/str}}
        </button>
        <div class="btn-group">
        <button
                class="btn btn-icon text-muted icon-no-margin icon-size-3 ml-2"
                type="button"
                id="grader-actions-menu-{{uniqid}}"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                aria-label="{{#str}} actionsforgraderinterface, mod_forum {{/str}}"
            >
                {{#pix}} i/moremenu {{/pix}}
            </button>
            <div class="dropdown-menu dropdown-menu-right border-0 rounded-lg shadow" aria-labelledby="grader-actions-menu-{{uniqid}}">
                <button
                    class="dropdown-item"
                    type="button"
                    data-action="togglefullscreen"
                >
                    {{#str}} togglefullscreen, mod_forum {{/str}}
                </button>
            </div>
        </div>
    </div>
</nav>

{{#js}}
    require(['jquery', 'core/drawer'], function($, Drawer) {
        var drawer = $('#grading-drawer');
        var toggles = drawer.find('[data-action="toggle-grading-drawer"]');
        toggles = toggles.add('#toggle-grading-drawer-{{uniqid}}');
        Drawer.registerToggles(drawer, toggles);
    });
{{/js}}
