{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_forum/local/grades/local/grader/navigation

    Classes required for JS:
    * TODO

    Data attributes required for JS:
    * TODO

    Context variables required for this template:
    * TODO

    Example context (json):
    {
    }
}}
<div class="grader-grading_navigation shadow-sm col-sm-12">
    <div class="row">
        <div class="col-sm-12 col-md-8 py-3">
            <div class="d-block">
                <a href="#" role="" class="" data-action="closegrader">
                    <h5 class="d-inline px-0 text-muted mb-0">{{moduleName}}</h5>
                </a>
                <h5 class="d-inline px-0 text-muted mb-0 fa fa-angle-right"></h5>
                <h5 class="d-inline px-0 mb-0">{{#str}}grading, forum{{/str}}</h5>
            </div>
        </div>

        <div class="col-sm-12 col-md-4 py-3">

            <button
                    class="btn btn-icon text-muted icon-no-margin icon-size-3 ml-2 pull-right"
                    type="button"
                    id="grader-actions-menu-{{uniqid}}"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    aria-label="{{#str}} actionsforgraderinterface, mod_forum {{/str}}"
            >
                {{#pix}} i/moremenu {{/pix}}
            </button>
            <!-- inline style to fix RTL placement bug -->
            <div class="dropdown-menu" aria-labelledby="grader-actions-menu-{{uniqid}}" style="right: auto">
                <a href="#" class="btn" aria-label="{{#str}} togglefullscreen, mod_forum {{/str}}" data-action="togglefullscreen">
                    {{#str}} togglefullscreen, mod_forum {{/str}}
                </a>
            </div>

            <a href="#" role="button" class="btn btn-outline-dark font-weight-bold rounded ml-2 px-4 pull-right" aria-label="{{#str}} closegrader, mod_forum {{/str}}" data-action="closegrader">{{#str}} close, mod_forum {{/str}}</a>

            <a href="#" role="button" class="btn btn-primary font-weight-bold rounded ml-2 px-4 pull-right" aria-label="{{#str}} save {{/str}}" data-action="savegrade">{{#str}} save {{/str}}</a>

            <a id="toggle-grading-drawer-{{uniqid}}" href="#" role="button" class="btn btn-secondary rounded pull-right" aria-label="Open or close grader panel" data-action="expandgrader">
                {{#pix}} layout-default, mod_forum, {{#str}} defaultlayout, mod_forum {{/str}} {{/pix}}
            </a>
        </div>
    </div>
</div>

{{#js}}
    require(['jquery', 'core/drawer'], function($, Drawer) {
        var drawer = $('#grading-drawer');
        Drawer.show(drawer);
        var toggles = drawer.find('[data-action="toggle-grading-drawer"]');
        toggles = toggles.add('#toggle-grading-drawer-{{uniqid}}');
        Drawer.registerToggles(drawer, toggles);
    });
{{/js}}
