{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_forum/local/grades/local/grader/user_picker

    Classes required for JS:
    * TODO

    Data attributes required for JS:
    * TODO

    Context variables required for this template:
    * TODO

    Example context (json):
    {
    }
}}

<div class="d-flex flex-row-reverse position-relative user-picker-container">
    <div id="searchbox-{{uniqid}}" class="d-flex flex-grow-1 align-items-center ml-auto user-search-container collapse">
        <div class="search-input-container w-100">
            <span class="search-icon icon-no-margin">{{#pix}} i/search, core {{/pix}}</span>
            <input
                type="text"
                data-action="search-user-input"
                class="form-control form-control-lg"
                placeholder="Search user"
            >
            <button
                class="toggle-search-button btn btn-icon icon-no-margin p-0"
                data-target="#searchbox-{{uniqid}}"
                aria-expanded="false"
                aria-controls="searchbox-{{uniqid}}"
                data-toggle="collapse"
            >
                {{#pix}} e/cancel, core {{/pix}}
            </button>
        </div>
    </div>
    <div class="d-flex flex-grow-1 align-items-center user-navigation-container pr-1">
        <div class="d-flex flex-grow-1 align-items-center user-navigation">
            <div class="d-flex align-items-center" data-region="user_picker/user"></div>
            <div class="ml-auto flex-shrink-0">
                <button class="btn btn-shadow icon-size-4 icon-no-margin colour-inherit p-0 mr-2" data-action="change-user" data-direction="-1">
                    <i aria-hidden="true" class="icon fa fa-angle-left fa-fw"></i>
                    <span class="sr-only">{{#str}} previous {{/str}}</span>
                </button>
                <button class="btn btn-shadow icon-size-4 icon-no-margin colour-inherit p-0 mr-2" data-action="change-user" data-direction="1">
                    <i aria-hidden="true" class="icon fa fa-angle-right fa-fw"></i>
                    <span class="sr-only">{{#str}} next {{/str}}</span>
                </button>
            </div>
        </div>
    </div>
</div>
<div data-action="search-user-box"></div>
