{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_forum/local/grades/local/grader/user_picker

    Classes required for JS:
    * TODO

    Data attributes required for JS:
    * TODO

    Context variables required for this template:
    * TODO

    Example context (json):
    {
    }
}}

<div class="d-flex user-picker-container">
    <div class="d-flex flex-grow-1 align-items-center user-navigation-container pr-1">
        <div class="d-flex flex-grow-1 align-items-center user-navigation">
            <div class="d-flex align-items-center" data-region="user_picker/user"></div>
            <div class="ml-auto flex-shrink-0">
                <button class="btn btn-shadow icon-size-4 icon-no-margin colour-inherit p-0 mr-2" data-action="change-user" data-direction="-1">
                    <i aria-hidden="true" class="icon fa fa-angle-left fa-fw"></i>
                    <span class="sr-only">{{#str}} previous {{/str}}</span>
                </button>
                <button class="btn btn-shadow icon-size-4 icon-no-margin colour-inherit p-0 mr-2" data-action="change-user" data-direction="1">
                    <i aria-hidden="true" class="icon fa fa-angle-right fa-fw"></i>
                    <span class="sr-only">{{#str}} next {{/str}}</span>
                </button>
            </div>
        </div>
        <button
            class="btn btn-shadow-hover icon-size-3 icon-no-margin colour-inherit p-0 search-button ml-auto"
            data-target="#searchbox-{{uniqid}}"
            aria-expanded="false"
            aria-controls="searchbox-{{uniqid}}"
            data-toggle="collapse"
        >
            {{#pix}} i/search, core {{/pix}}
            <span class="sr-only">{{#str}} search {{/str}}</span>
        </button>
    </div>
</div>
<div id="searchbox-{{uniqid}}" class="mt-3 user-search-container collapse">
    <div class="search-input-container input-group">
        <div class="input-group-prepend">
            <span class="input-group-text bg-white icon-no-margin">{{#pix}} i/search, core {{/pix}}</span>
        </div>
        <input type="text" data-action="search-user-input" class="form-control px-0 border-left-0 border-right-0 input-lg" placeholder="Search user">
        <div class="input-group-append">
            <span class="input-group-text py-0 pr-1 bg-white">
                <button
                    class="btn btn-icon colour-inherit icon-no-margin"
                    data-target="#searchbox-{{uniqid}}"
                    aria-expanded="false"
                    aria-controls="searchbox-{{uniqid}}"
                    data-toggle="collapse"
                >
                    {{#pix}} e/cancel, core {{/pix}}
                </button>
            </span>
        </div>
    </div>
</div>
<div data-action="search-user-box"></div>
