{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_forum/local/grades/local/grader/user_picker/user

    Classes required for JS:
    * TODO

    Data attributes required for JS:
    * TODO

    Context variables required for this template:
    * TODO

    Example context (json):
    {
    }
}}
<div class="d-flex align-content-center">
    <img class="rounded-circle userpicture d-inline" src="{{profileimagelg}}"
         alt="{{#str}}pictureof, moodle, {{fullname}}{{/str}}"
         title="{{#str}}pictureof, moodle, {{fullname}}{{/str}}" >
    <div class="d-inline">
        <h5 class="d-block font-weight-bolder mb-0" data-region="name" data-userid="{{id}}">{{fullname}}</h5>
        <div class="d-block"><div class="d-inline" data-region="index">{{displayIndex}}</div> {{#str}}outof, forum, {{total}}{{/str}}</div>
    </div>
</div>

