<div
    class="h-100"
    data-region="view-icons"
    style="overflow-y: auto;"
>
<ul class="list-unstyled p-2">
<li>{{#pix}} e/paste ,core {{/pix}} e/paste </li>
<li>{{#pix}} e/emoticons ,core {{/pix}} e/emoticons </li>
<li>{{#pix}} e/manage_files ,core {{/pix}} e/manage_files </li>
<li>{{#pix}} e/italic ,core {{/pix}} e/italic </li>
<li>{{#pix}} e/remove_link ,core {{/pix}} e/remove_link </li>
<li>{{#pix}} e/spellcheck ,core {{/pix}} e/spellcheck </li>
<li>{{#pix}} e/toggle_blockquote ,core {{/pix}} e/toggle_blockquote </li>
<li>{{#pix}} e/align_left ,core {{/pix}} e/align_left </li>
<li>{{#pix}} e/insert_date ,core {{/pix}} e/insert_date </li>
<li>{{#pix}} e/fullpage ,core {{/pix}} e/fullpage </li>
<li>{{#pix}} e/source_code ,core {{/pix}} e/source_code </li>
<li>{{#pix}} e/layers_over ,core {{/pix}} e/layers_over </li>
<li>{{#pix}} e/insert ,core {{/pix}} e/insert </li>
<li>{{#pix}} e/text_color ,core {{/pix}} e/text_color </li>
<li>{{#pix}} e/text_color_picker ,core {{/pix}} e/text_color_picker </li>
<li>{{#pix}} e/insert_horizontal_ruler ,core {{/pix}} e/insert_horizontal_ruler </li>
<li>{{#pix}} e/bold ,core {{/pix}} e/bold </li>
<li>{{#pix}} e/cleanup_messy_code ,core {{/pix}} e/cleanup_messy_code </li>
<li>{{#pix}} e/help ,core {{/pix}} e/help </li>
<li>{{#pix}} e/insert_edit_image ,core {{/pix}} e/insert_edit_image </li>
<li>{{#pix}} e/table ,core {{/pix}} e/table </li>
<li>{{#pix}} e/increase_indent ,core {{/pix}} e/increase_indent </li>
<li>{{#pix}} e/row_props ,core {{/pix}} e/row_props </li>
<li>{{#pix}} e/decrease_indent ,core {{/pix}} e/decrease_indent </li>
<li>{{#pix}} e/accessibility_checker ,core {{/pix}} e/accessibility_checker </li>
<li>{{#pix}} e/forward ,core {{/pix}} e/forward </li>
<li>{{#pix}} e/insert_edit_link ,core {{/pix}} e/insert_edit_link </li>
<li>{{#pix}} e/absolute ,core {{/pix}} e/absolute </li>
<li>{{#pix}} e/acronym ,core {{/pix}} e/acronym </li>
<li>{{#pix}} e/remove_page_break ,core {{/pix}} e/remove_page_break </li>
<li>{{#pix}} e/table_props ,core {{/pix}} e/table_props </li>
<li>{{#pix}} e/text_highlight ,core {{/pix}} e/text_highlight </li>
<li>{{#pix}} e/strikethrough ,core {{/pix}} e/strikethrough </li>
<li>{{#pix}} e/undo ,core {{/pix}} e/undo </li>
<li>{{#pix}} e/backward ,core {{/pix}} e/backward </li>
<li>{{#pix}} e/restore_draft ,core {{/pix}} e/restore_draft </li>
<li>{{#pix}} e/anchor ,core {{/pix}} e/anchor </li>
<li>{{#pix}} e/advance_hr ,core {{/pix}} e/advance_hr </li>
<li>{{#pix}} e/preview ,core {{/pix}} e/preview </li>
<li>{{#pix}} e/visual_aid ,core {{/pix}} e/visual_aid </li>
<li>{{#pix}} e/delete_table ,core {{/pix}} e/delete_table </li>
<li>{{#pix}} e/screenreader_helper ,core {{/pix}} e/screenreader_helper </li>
<li>{{#pix}} e/new_document ,core {{/pix}} e/new_document </li>
<li>{{#pix}} e/insert_nonbreaking_space ,core {{/pix}} e/insert_nonbreaking_space </li>
<li>{{#pix}} e/justify ,core {{/pix}} e/justify </li>
<li>{{#pix}} e/question ,core {{/pix}} e/question </li>
<li>{{#pix}} e/paste_word ,core {{/pix}} e/paste_word </li>
<li>{{#pix}} e/cut ,core {{/pix}} e/cut </li>
<li>{{#pix}} e/fullscreen ,core {{/pix}} e/fullscreen </li>
<li>{{#pix}} e/show_invisible_characters ,core {{/pix}} e/show_invisible_characters </li>
<li>{{#pix}} e/redo ,core {{/pix}} e/redo </li>
<li>{{#pix}} e/math ,core {{/pix}} e/math </li>
<li>{{#pix}} e/page_break ,core {{/pix}} e/page_break </li>
<li>{{#pix}} e/split_cells ,core {{/pix}} e/split_cells </li>
<li>{{#pix}} e/insert_row_after ,core {{/pix}} e/insert_row_after </li>
<li>{{#pix}} e/insert_time ,core {{/pix}} e/insert_time </li>
<li>{{#pix}} e/superscript ,core {{/pix}} e/superscript </li>
<li>{{#pix}} e/insert_page_break ,core {{/pix}} e/insert_page_break </li>
<li>{{#pix}} e/select_all ,core {{/pix}} e/select_all </li>
<li>{{#pix}} e/delete ,core {{/pix}} e/delete </li>
<li>{{#pix}} e/merge_cells ,core {{/pix}} e/merge_cells </li>
<li>{{#pix}} e/right_to_left ,core {{/pix}} e/right_to_left </li>
<li>{{#pix}} e/cell_props ,core {{/pix}} e/cell_props </li>
<li>{{#pix}} e/styleprops ,core {{/pix}} e/styleprops </li>
<li>{{#pix}} e/subscript ,core {{/pix}} e/subscript </li>
<li>{{#pix}} e/cancel ,core {{/pix}} e/cancel </li>
<li>{{#pix}} e/insert_col_before ,core {{/pix}} e/insert_col_before </li>
<li>{{#pix}} e/text_highlight_picker ,core {{/pix}} e/text_highlight_picker </li>
<li>{{#pix}} e/special_character ,core {{/pix}} e/special_character </li>
<li>{{#pix}} e/underline ,core {{/pix}} e/underline </li>
<li>{{#pix}} e/search ,core {{/pix}} e/search </li>
<li>{{#pix}} e/layers ,core {{/pix}} e/layers </li>
<li>{{#pix}} e/insert_edit_video ,core {{/pix}} e/insert_edit_video </li>
<li>{{#pix}} e/bullet_list ,core {{/pix}} e/bullet_list </li>
<li>{{#pix}} e/numbered_list ,core {{/pix}} e/numbered_list </li>
<li>{{#pix}} e/insert_col_after ,core {{/pix}} e/insert_col_after </li>
<li>{{#pix}} e/align_right ,core {{/pix}} e/align_right </li>
<li>{{#pix}} e/find_replace ,core {{/pix}} e/find_replace </li>
<li>{{#pix}} e/paste_text ,core {{/pix}} e/paste_text </li>
<li>{{#pix}} e/insert_row_before ,core {{/pix}} e/insert_row_before </li>
<li>{{#pix}} e/resize ,core {{/pix}} e/resize </li>
<li>{{#pix}} e/cite ,core {{/pix}} e/cite </li>
<li>{{#pix}} e/delete_col ,core {{/pix}} e/delete_col </li>
<li>{{#pix}} e/layers_under ,core {{/pix}} e/layers_under </li>
<li>{{#pix}} e/save ,core {{/pix}} e/save </li>
<li>{{#pix}} e/tick ,core {{/pix}} e/tick </li>
<li>{{#pix}} e/document_properties ,core {{/pix}} e/document_properties </li>
<li>{{#pix}} e/print ,core {{/pix}} e/print </li>
<li>{{#pix}} e/left_to_right ,core {{/pix}} e/left_to_right </li>
<li>{{#pix}} e/clear_formatting ,core {{/pix}} e/clear_formatting </li>
<li>{{#pix}} e/align_center ,core {{/pix}} e/align_center </li>
<li>{{#pix}} e/copy ,core {{/pix}} e/copy </li>
<li>{{#pix}} e/delete_row ,core {{/pix}} e/delete_row </li>
<li>{{#pix}} e/abbr ,core {{/pix}} e/abbr </li>
<li>{{#pix}} e/prevent_autolink ,core {{/pix}} e/prevent_autolink </li>
<li>{{#pix}} e/insert_file ,core {{/pix}} e/insert_file </li>
<li>{{#pix}} e/restore_last_draft ,core {{/pix}} e/restore_last_draft </li>
<li>{{#pix}} e/visual_blocks ,core {{/pix}} e/visual_blocks </li>
<li>{{#pix}} e/template ,core {{/pix}} e/template </li>
<li>{{#pix}} help ,core {{/pix}} help </li>
<li>{{#pix}} a/logout ,core {{/pix}} a/logout </li>
<li>{{#pix}} a/view_tree_active ,core {{/pix}} a/view_tree_active </li>
<li>{{#pix}} a/help ,core {{/pix}} a/help </li>
<li>{{#pix}} a/setting ,core {{/pix}} a/setting </li>
<li>{{#pix}} a/refresh ,core {{/pix}} a/refresh </li>
<li>{{#pix}} a/view_icon_active ,core {{/pix}} a/view_icon_active </li>
<li>{{#pix}} a/create_folder ,core {{/pix}} a/create_folder </li>
<li>{{#pix}} a/search ,core {{/pix}} a/search </li>
<li>{{#pix}} a/view_list_active ,core {{/pix}} a/view_list_active </li>
<li>{{#pix}} a/add_file ,core {{/pix}} a/add_file </li>
<li>{{#pix}} a/download_all ,core {{/pix}} a/download_all </li>
<li>{{#pix}} docs ,core {{/pix}} docs </li>
<li>{{#pix}} t/dropdown ,core {{/pix}} t/dropdown </li>
<li>{{#pix}} t/switch_minus ,core {{/pix}} t/switch_minus </li>
<li>{{#pix}} t/down ,core {{/pix}} t/down </li>
<li>{{#pix}} t/calc_off ,core {{/pix}} t/calc_off </li>
<li>{{#pix}} t/approve ,core {{/pix}} t/approve </li>
<li>{{#pix}} t/online ,core {{/pix}} t/online </li>
<li>{{#pix}} t/backpack ,core {{/pix}} t/backpack </li>
<li>{{#pix}} t/backup ,core {{/pix}} t/backup </li>
<li>{{#pix}} t/edit_menu ,core {{/pix}} t/edit_menu </li>
<li>{{#pix}} t/dock_to_block_rtl ,core {{/pix}} t/dock_to_block_rtl </li>
<li>{{#pix}} t/message ,core {{/pix}} t/message </li>
<li>{{#pix}} t/check ,core {{/pix}} t/check </li>
<li>{{#pix}} t/collapsed_empty_rtl ,core {{/pix}} t/collapsed_empty_rtl </li>
<li>{{#pix}} t/groups ,core {{/pix}} t/groups </li>
<li>{{#pix}} t/assignroles ,core {{/pix}} t/assignroles </li>
<li>{{#pix}} t/collapsed_empty ,core {{/pix}} t/collapsed_empty </li>
<li>{{#pix}} t/editstring ,core {{/pix}} t/editstring </li>
<li>{{#pix}} t/markasread ,core {{/pix}} t/markasread </li>
<li>{{#pix}} t/contextmenu ,core {{/pix}} t/contextmenu </li>
<li>{{#pix}} t/sort_desc ,core {{/pix}} t/sort_desc </li>
<li>{{#pix}} t/grades ,core {{/pix}} t/grades </li>
<li>{{#pix}} t/switch_plus ,core {{/pix}} t/switch_plus </li>
<li>{{#pix}} t/unlocked ,core {{/pix}} t/unlocked </li>
<li>{{#pix}} t/switch_whole ,core {{/pix}} t/switch_whole </li>
<li>{{#pix}} t/groupv ,core {{/pix}} t/groupv </li>
<li>{{#pix}} t/tags ,core {{/pix}} t/tags </li>
<li>{{#pix}} t/sort ,core {{/pix}} t/sort </li>
<li>{{#pix}} t/block ,core {{/pix}} t/block </li>
<li>{{#pix}} t/show ,core {{/pix}} t/show </li>
<li>{{#pix}} t/dock_to_block ,core {{/pix}} t/dock_to_block </li>
<li>{{#pix}} t/enrolusers ,core {{/pix}} t/enrolusers </li>
<li>{{#pix}} t/groupn ,core {{/pix}} t/groupn </li>
<li>{{#pix}} t/preview ,core {{/pix}} t/preview </li>
<li>{{#pix}} t/expanded ,core {{/pix}} t/expanded </li>
<li>{{#pix}} t/left ,core {{/pix}} t/left </li>
<li>{{#pix}} t/download ,core {{/pix}} t/download </li>
<li>{{#pix}} t/removecontact ,core {{/pix}} t/removecontact </li>
<li>{{#pix}} t/email ,core {{/pix}} t/email </li>
<li>{{#pix}} t/collapsed ,core {{/pix}} t/collapsed </li>
<li>{{#pix}} t/portfolioadd ,core {{/pix}} t/portfolioadd </li>
<li>{{#pix}} t/collapsed_rtl ,core {{/pix}} t/collapsed_rtl </li>
<li>{{#pix}} t/calc ,core {{/pix}} t/calc </li>
<li>{{#pix}} t/right ,core {{/pix}} t/right </li>
<li>{{#pix}} t/delete ,core {{/pix}} t/delete </li>
<li>{{#pix}} t/block_to_dock_rtl ,core {{/pix}} t/block_to_dock_rtl </li>
<li>{{#pix}} t/less ,core {{/pix}} t/less </li>
<li>{{#pix}} t/unblock ,core {{/pix}} t/unblock </li>
<li>{{#pix}} t/addcontact ,core {{/pix}} t/addcontact </li>
<li>{{#pix}} t/cohort ,core {{/pix}} t/cohort </li>
<li>{{#pix}} t/viewdetails ,core {{/pix}} t/viewdetails </li>
<li>{{#pix}} t/move ,core {{/pix}} t/move </li>
<li>{{#pix}} t/hide ,core {{/pix}} t/hide </li>
<li>{{#pix}} t/restore ,core {{/pix}} t/restore </li>
<li>{{#pix}} t/tag ,core {{/pix}} t/tag </li>
<li>{{#pix}} t/locktime ,core {{/pix}} t/locktime </li>
<li>{{#pix}} t/up ,core {{/pix}} t/up </li>
<li>{{#pix}} t/lock ,core {{/pix}} t/lock </li>
<li>{{#pix}} t/award ,core {{/pix}} t/award </li>
<li>{{#pix}} t/passwordunmask-reveal ,core {{/pix}} t/passwordunmask-reveal </li>
<li>{{#pix}} t/edit ,core {{/pix}} t/edit </li>
<li>{{#pix}} t/more ,core {{/pix}} t/more </li>
<li>{{#pix}} t/messages ,core {{/pix}} t/messages </li>
<li>{{#pix}} t/locked ,core {{/pix}} t/locked </li>
<li>{{#pix}} t/add ,core {{/pix}} t/add </li>
<li>{{#pix}} t/preferences ,core {{/pix}} t/preferences </li>
<li>{{#pix}} t/editinline ,core {{/pix}} t/editinline </li>
<li>{{#pix}} t/go ,core {{/pix}} t/go </li>
<li>{{#pix}} t/stop ,core {{/pix}} t/stop </li>
<li>{{#pix}} t/passwordunmask-edit ,core {{/pix}} t/passwordunmask-edit </li>
<li>{{#pix}} t/reset ,core {{/pix}} t/reset </li>
<li>{{#pix}} t/user ,core {{/pix}} t/user </li>
<li>{{#pix}} t/unlock ,core {{/pix}} t/unlock </li>
<li>{{#pix}} t/print ,core {{/pix}} t/print </li>
<li>{{#pix}} t/sort_asc ,core {{/pix}} t/sort_asc </li>
<li>{{#pix}} t/copy ,core {{/pix}} t/copy </li>
<li>{{#pix}} t/emailno ,core {{/pix}} t/emailno </li>
<li>{{#pix}} t/dockclose ,core {{/pix}} t/dockclose </li>
<li>{{#pix}} t/block_to_dock ,core {{/pix}} t/block_to_dock </li>
<li>{{#pix}} moodlelogo ,core {{/pix}} moodlelogo </li>
<li>{{#pix}} i/grade_partiallycorrect ,core {{/pix}} i/grade_partiallycorrect </li>
<li>{{#pix}} i/import ,core {{/pix}} i/import </li>
<li>{{#pix}} i/risk_dataloss ,core {{/pix}} i/risk_dataloss </li>
<li>{{#pix}} i/info ,core {{/pix}} i/info </li>
<li>{{#pix}} i/badge ,core {{/pix}} i/badge </li>
<li>{{#pix}} i/navigationitem ,core {{/pix}} i/navigationitem </li>
<li>{{#pix}} i/risk_xss ,core {{/pix}} i/risk_xss </li>
<li>{{#pix}} i/dragdrop ,core {{/pix}} i/dragdrop </li>
<li>{{#pix}} i/rss ,core {{/pix}} i/rss </li>
<li>{{#pix}} i/down ,core {{/pix}} i/down </li>
<li>{{#pix}} i/completion-auto-fail ,core {{/pix}} i/completion-auto-fail </li>
<li>{{#pix}} i/location ,core {{/pix}} i/location </li>
<li>{{#pix}} i/grade_incorrect ,core {{/pix}} i/grade_incorrect </li>
<li>{{#pix}} i/twoway ,core {{/pix}} i/twoway </li>
<li>{{#pix}} i/users ,core {{/pix}} i/users </li>
<li>{{#pix}} i/permissionlock ,core {{/pix}} i/permissionlock </li>
<li>{{#pix}} i/backup ,core {{/pix}} i/backup </li>
<li>{{#pix}} i/risk_personal ,core {{/pix}} i/risk_personal </li>
<li>{{#pix}} i/test ,core {{/pix}} i/test </li>
<li>{{#pix}} i/completion-manual-enabled ,core {{/pix}} i/completion-manual-enabled </li>
<li>{{#pix}} i/role ,core {{/pix}} i/role </li>
<li>{{#pix}} i/permissions ,core {{/pix}} i/permissions </li>
<li>{{#pix}} i/groups ,core {{/pix}} i/groups </li>
<li>{{#pix}} i/assignroles ,core {{/pix}} i/assignroles </li>
<li>{{#pix}} i/marker ,core {{/pix}} i/marker </li>
<li>{{#pix}} i/completion-manual-n ,core {{/pix}} i/completion-manual-n </li>
<li>{{#pix}} i/siteevent ,core {{/pix}} i/siteevent </li>
<li>{{#pix}} i/completion-manual-y ,core {{/pix}} i/completion-manual-y </li>
<li>{{#pix}} i/privatefiles ,core {{/pix}} i/privatefiles </li>
<li>{{#pix}} i/risk_config ,core {{/pix}} i/risk_config </li>
<li>{{#pix}} i/grades ,core {{/pix}} i/grades </li>
<li>{{#pix}} i/caution ,core {{/pix}} i/caution </li>
<li>{{#pix}} i/valid ,core {{/pix}} i/valid </li>
<li>{{#pix}} i/groupv ,core {{/pix}} i/groupv </li>
<li>{{#pix}} i/move_2d ,core {{/pix}} i/move_2d </li>
<li>{{#pix}} i/group ,core {{/pix}} i/group </li>
<li>{{#pix}} i/invalid ,core {{/pix}} i/invalid </li>
<li>{{#pix}} i/hierarchylock ,core {{/pix}} i/hierarchylock </li>
<li>{{#pix}} i/show ,core {{/pix}} i/show </li>
<li>{{#pix}} i/groupevent ,core {{/pix}} i/groupevent </li>
<li>{{#pix}} i/enrolusers ,core {{/pix}} i/enrolusers </li>
<li>{{#pix}} i/groupn ,core {{/pix}} i/groupn </li>
<li>{{#pix}} i/folder ,core {{/pix}} i/folder </li>
<li>{{#pix}} i/preview ,core {{/pix}} i/preview </li>
<li>{{#pix}} i/calendareventdescription ,core {{/pix}} i/calendareventdescription </li>
<li>{{#pix}} i/grade_correct ,core {{/pix}} i/grade_correct </li>
<li>{{#pix}} i/db ,core {{/pix}} i/db </li>
<li>{{#pix}} i/checked ,core {{/pix}} i/checked </li>
<li>{{#pix}} i/completion-auto-enabled ,core {{/pix}} i/completion-auto-enabled </li>
<li>{{#pix}} i/course ,core {{/pix}} i/course </li>
<li>{{#pix}} i/risk_managetrust ,core {{/pix}} i/risk_managetrust </li>
<li>{{#pix}} i/scheduled ,core {{/pix}} i/scheduled </li>
<li>{{#pix}} i/risk_spam ,core {{/pix}} i/risk_spam </li>
<li>{{#pix}} i/home ,core {{/pix}} i/home </li>
<li>{{#pix}} i/report ,core {{/pix}} i/report </li>
<li>{{#pix}} i/completion_self ,core {{/pix}} i/completion_self </li>
<li>{{#pix}} i/completion-auto-n-override ,core {{/pix}} i/completion-auto-n-override </li>
<li>{{#pix}} i/scales ,core {{/pix}} i/scales </li>
<li>{{#pix}} i/calendar ,core {{/pix}} i/calendar </li>
<li>{{#pix}} i/files ,core {{/pix}} i/files </li>
<li>{{#pix}} i/completion-auto-y-override ,core {{/pix}} i/completion-auto-y-override </li>
<li>{{#pix}} i/addblock ,core {{/pix}} i/addblock </li>
<li>{{#pix}} i/calc ,core {{/pix}} i/calc </li>
<li>{{#pix}} i/delete ,core {{/pix}} i/delete </li>
<li>{{#pix}} i/warning ,core {{/pix}} i/warning </li>
<li>{{#pix}} i/section ,core {{/pix}} i/section </li>
<li>{{#pix}} i/cohort ,core {{/pix}} i/cohort </li>
<li>{{#pix}} i/repository ,core {{/pix}} i/repository </li>
<li>{{#pix}} i/duration ,core {{/pix}} i/duration </li>
<li>{{#pix}} i/hide ,core {{/pix}} i/hide </li>
<li>{{#pix}} i/expired ,core {{/pix}} i/expired </li>
<li>{{#pix}} i/restore ,core {{/pix}} i/restore </li>
<li>{{#pix}} i/courseevent ,core {{/pix}} i/courseevent </li>
<li>{{#pix}} i/agg_sum ,core {{/pix}} i/agg_sum </li>
<li>{{#pix}} i/up ,core {{/pix}} i/up </li>
<li>{{#pix}} i/outcomes ,core {{/pix}} i/outcomes </li>
<li>{{#pix}} i/unchecked ,core {{/pix}} i/unchecked </li>
<li>{{#pix}} i/completion-auto-pass ,core {{/pix}} i/completion-auto-pass </li>
<li>{{#pix}} i/edit ,core {{/pix}} i/edit </li>
<li>{{#pix}} i/reload ,core {{/pix}} i/reload </li>
<li>{{#pix}} i/search ,core {{/pix}} i/search </li>
<li>{{#pix}} i/empty ,core {{/pix}} i/empty </li>
<li>{{#pix}} i/completion-auto-n ,core {{/pix}} i/completion-auto-n </li>
<li>{{#pix}} i/filter ,core {{/pix}} i/filter </li>
<li>{{#pix}} i/export ,core {{/pix}} i/export </li>
<li>{{#pix}} i/enrolmentsuspended ,core {{/pix}} i/enrolmentsuspended </li>
<li>{{#pix}} i/completion-auto-y ,core {{/pix}} i/completion-auto-y </li>
<li>{{#pix}} i/checkpermissions ,core {{/pix}} i/checkpermissions </li>
<li>{{#pix}} i/switchrole ,core {{/pix}} i/switchrole </li>
<li>{{#pix}} i/configlock ,core {{/pix}} i/configlock </li>
<li>{{#pix}} i/manual_item ,core {{/pix}} i/manual_item </li>
<li>{{#pix}} i/completion-manual-y-override ,core {{/pix}} i/completion-manual-y-override </li>
<li>{{#pix}} i/settings ,core {{/pix}} i/settings </li>
<li>{{#pix}} i/agg_mean ,core {{/pix}} i/agg_mean </li>
<li>{{#pix}} i/categoryevent ,core {{/pix}} i/categoryevent </li>
<li>{{#pix}} i/notifications ,core {{/pix}} i/notifications </li>
<li>{{#pix}} i/return ,core {{/pix}} i/return </li>
<li>{{#pix}} i/marked ,core {{/pix}} i/marked </li>
<li>{{#pix}} i/completion-manual-n-override ,core {{/pix}} i/completion-manual-n-override </li>
<li>{{#pix}} i/user ,core {{/pix}} i/user </li>
<li>{{#pix}} i/competencies ,core {{/pix}} i/competencies </li>
<li>{{#pix}} i/calendareventtime ,core {{/pix}} i/calendareventtime </li>
<li>{{#pix}} i/item ,core {{/pix}} i/item </li>
<li>{{#pix}} i/dashboard ,core {{/pix}} i/dashboard </li>
<li>{{#pix}} i/withsubcat ,core {{/pix}} i/withsubcat </li>
<li>{{#pix}} i/userevent ,core {{/pix}} i/userevent </li>
<li>{{#pix}} i/mahara_host ,core {{/pix}} i/mahara_host </li>
<li>{{#pix}} i/publish ,core {{/pix}} i/publish </li>
<li>{{#pix}} i/mnethost ,core {{/pix}} i/mnethost </li>
<ul>
</div>
