{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template message_output_popup/message_drawer

    This template will render the message drawer.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * All data attributes are required

    Context variables required for this template:
    * userid The logged in user id
    * urls The URLs for the popover

    Example context (json):
    {}

}}

<div class="text-center">
    <img
        class="rounded-circle"
        src="{{profileimageurl}}"
        aria-hidden="true"
        alt="{{#str}}pictureof, moodle, {{fullname}}{{/str}}"
        title="{{#str}}pictureof, moodle, {{fullname}}{{/str}}"
        style="height: 100px; width: 100px"
    >
</div>
<h2 class="mt-2 text-center text-truncate">{{fullname}}</h2>
<div class="px-4 mt-4">
    <button
        type="button"
        class="btn btn-primary btn-block {{^isblocked}}hidden{{/isblocked}}"
        data-action="unblock"
        data-user-id="{{userid}}"
    >
        <span data-region="button-text">{{#str}}unblockcontact, message{{/str}}</span>
        <span class="hidden" data-region="loading-icon-container">{{> core/loading }}</span>
    </button>
    <button
        type="button"
        class="btn btn-danger btn-block {{#isblocked}}hidden{{/isblocked}}"
        data-action="block"
        data-user-id="{{userid}}"
    >
        <span data-region="button-text">{{#str}}blockcontact, message{{/str}}</span>
        <span class="hidden" data-region="loading-icon-container">{{> core/loading }}</span>
    </button>
    <button
        type="button"
        class="btn btn-danger btn-block {{^iscontact}}hidden{{/iscontact}}"
        data-action="remove-contact"
        data-user-id="{{userid}}"
    >
        <span data-region="button-text">{{#str}}removecontact, message{{/str}}</span>
        <span class="hidden" data-region="loading-icon-container">{{> core/loading }}</span>
    </button>
    <button
        type="button"
        class="btn btn-primary btn-block {{#iscontact}}hidden{{/iscontact}}"
        data-action="add-contact"
        data-user-id="{{userid}}"
    >
        <span data-region="button-text">{{#str}}addcontact, message{{/str}}</span>
        <span class="hidden" data-region="loading-icon-container">{{> core/loading }}</span>
    </button>
</div>