{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template message_output_popup/message_drawer

    This template will render the message drawer.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * All data attributes are required

    Context variables required for this template:
    * userid The logged in user id
    * urls The URLs for the popover

    Example context (json):
    {}

}}

<div
    data-region="view-search"
    class="h-100"
    data-user-id="{{loggedinuser.id}}"
    data-max-users="5"
    data-max-messages="10"
    data-searchtext=""
>
    <div class="d-flex p-2 border-bottom align-items-center">
        <a
            class="mr-2 align-self-stretch d-flex align-items-center"
            href="#"
            data-route-back
            data-action="cancel-search"
        >
            {{> message_popup/message_drawer_icon_back }}
        </a>
        <div class="input-group">
            <input
                type="text"
                class="form-control"
                placeholder="{{#str}} search, core_search {{/str}}"
                aria-label="{{#str}} search, core_search {{/str}}"
                data-region="search-input"
            >
            <div class="input-group-append ">
                <button
                    class="btn btn-outline-secondary"
                    type="button"
                    data-action="search"
                >
                    <span data-region="search-icon-container">
                        {{#pix}} a/search, core {{/pix}}
                    </span>
                    <span class="hidden" data-region="loading-icon-container">
                        {{> core/loading }}
                    </span>
                </button>
            </div>
        </div>
    </div>
    <div class="h-100 hidden pb-5" data-region="search-results-container" style="overflow-y: scroll;"></div>
    <div class="hidden p-2" data-region="loading-placeholder">
        <div class="bg-light mb-3 w-50" style="height: 30px"></div>
        <div class="list-group mb-3">
            {{> message_popup/message_drawer_contacts_list_item_placeholder }}
            {{> message_popup/message_drawer_contacts_list_item_placeholder }}
            {{> message_popup/message_drawer_contacts_list_item_placeholder }}
            {{> message_popup/message_drawer_contacts_list_item_placeholder }}
            {{> message_popup/message_drawer_contacts_list_item_placeholder }}
        </div>
        <div class="bg-light mb-3 w-50" style="height: 30px"></div>
        <div class="list-group mb-3">
            {{> message_popup/message_drawer_contacts_list_item_placeholder }}
            {{> message_popup/message_drawer_contacts_list_item_placeholder }}
            {{> message_popup/message_drawer_contacts_list_item_placeholder }}
            {{> message_popup/message_drawer_contacts_list_item_placeholder }}
            {{> message_popup/message_drawer_contacts_list_item_placeholder }}
        </div>
        <div class="bg-light mb-3 w-50" style="height: 30px"></div>
        <div class="list-group">
            {{> message_popup/message_drawer_messages_list_item_placeholder }}
            {{> message_popup/message_drawer_messages_list_item_placeholder }}
            {{> message_popup/message_drawer_messages_list_item_placeholder }}
            {{> message_popup/message_drawer_messages_list_item_placeholder }}
            {{> message_popup/message_drawer_messages_list_item_placeholder }}
        </div>
    </div>
    <div class="p-2" data-region="empty-message-container">
        <p>{{#str}} searchcombined, core_message {{/str}}</p>
    </div>
</div>