<div class="" data-region="not-in-contacts" aria-hidden="true">
    <div class="card m-2">
        <div class="card-body p-2">
            <h5 class="card-title">
                {{#str}}notincontactsheading, message, {{fullname}}{{/str}}
            </h5>
            <p class="card-text small">
                {{#str}}notincontacts, message, {{fullname}}{{/str}}
            </p>
            <button class="btn btn-default btn-sm w-100" data-action="addtocontacts">
                {{#str}}addtoyourcontactsandmessage, message{{/str}}
            </button>
        </div>
    </div>
</div>