{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template message_output_popup/message_drawer

    This template will render the message drawer.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * All data attributes are required

    Context variables required for this template:
    * userid The logged in user id
    * urls The URLs for the popover

    Example context (json):
    {}

}}

<div
    class="card border-0"
    data-region="{{$region}}{{/region}}"
    data-user-id="{{loggedinuser.id}}"
>
    <div id="{{$region}}{{/region}}-toggle" class="card-header p-0">
        <button
            class="btn btn-link w-100 text-left p-2"
            data-toggle="collapse"
            data-target="#{{$region}}{{/region}}-target"
            aria-expanded="false"
            aria-controls="{{$region}}{{/region}}-target"
        >
            <i class="fa fa-caret-right mr-1"></i> {{$title}}{{/title}}
             <span class="hidden" data-region="loading-icon-container">
                {{> core/loading }}
            </span>
        </button>
    </div>
    <div
        id="{{$region}}{{/region}}-target"
        class="collapse border-bottom"
        aria-labelledby="{{$region}}{{/region}}-toggle"
        data-parent="#message-drawer-view-overview-container"
        data-region="collapse-region"
    >
        <div class="hidden text-center p-2" data-region="empty-message-container">
            {{$emptymessage}}{{/emptymessage}}
        </div>
        <div class="hidden list-group" data-region="content-container">
            {{$content}}{{/content}}
        </div>
        <div class="list-group" data-region="placeholder-container">
            {{$placeholder}}{{/placeholder}}
        </div>
    </div>
</div>