{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template message_output_popup/message_drawer

    This template will render the message drawer.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * All data attributes are required

    Context variables required for this template:
    * userid The logged in user id
    * urls The URLs for the popover

    Example context (json):
    {}

}}

<div
    data-region="view-search"
    data-user-id="{{loggedinuserid}}"
>
    <div class="d-flex p-2 border-bottom">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" data-region="search-icon-container">
                    {{#pix}} a/search, core {{/pix}}
                </span>
                <span class="input-group-text hidden" data-region="loading-icon-container">
                    {{> core/loading }}
                </span>
            </div>
            <input
                type="text"
                class="form-control"
                placeholder="{{#str}} search, core_search {{/str}}"
                aria-label="{{#str}} search, core_search {{/str}}"
                data-region="search-input"
            >
            <div class="input-group-append">
                <button
                    data-route-back
                    data-action="cancel-search"
                    class="btn btn-outline-secondary"
                    type="button"
                >
                    {{#pix}} e/cancel, core {{/pix}}
                </button>
            </div>
        </div>
    </div>
    <div class="hidden p-2" data-region="search-results-container"></div>
    <div class="hidden p-2" data-region="loading-placeholder">

    </div>
    <div class="p-2" data-region="empty-message-container">
        <p>Search for users or messages</p>
    </div>
</div>