{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template message_output_popup/message_drawer

    This template will render the message drawer.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * All data attributes are required

    Context variables required for this template:
    * userid The logged in user id
    * urls The URLs for the popover

    Example context (json):
    {}

}}

<div class="h-100" data-region="view-overview" id="message-drawer-view-overview-container">
    <div class="d-flex p-2 border-bottom">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text pr-0 bg-white">
                    {{#pix}} a/search, core {{/pix}}
                </span>
            </div>
            <input
                type="text"
                class="form-control border-left-0"
                placeholder="{{#str}} search, core_search {{/str}}"
                aria-label="{{#str}} search, core_search {{/str}}"
                data-region="view-overview-search-input"
            >
        </div>
        <div class="align-self-center ml-2">
            <a href="#" data-route="view-settings" data-route-param="{{loggedinuser.id}}">{{#pix}} t/edit, core {{/pix}}</a>
        </div>
    </div>
    <div class="h-100" style="overflow-y: auto">
        <div class="text-right p-2 border-bottom">
            <a href="#" data-route="view-requests">{{#str}} requests, core {{/str}}</a>
        </div>
        {{> message_popup/message_drawer_view_overview_contacts }}
        {{> message_popup/message_drawer_view_overview_messages }}
    </div>
</div>