{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template message_output_popup/message_drawer

    This template will render the message drawer.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * All data attributes are required

    Context variables required for this template:
    * userid The logged in user id
    * urls The URLs for the popover

    Example context (json):
    {}

}}

<div
    class="hidden"
    data-region="view-contact"
    data-user-id="{{loggedinuserid}}"
>
    <div class="border-bottom d-flex p-2">
        <a class="align-self-center" href="#" data-route-back>
            <!-- TODO: FIX THIS ICON -->
            {{#pix}} e/right_to_left, core {{/pix}}
        </a>
        <h3 class="m-0">{{#str}} info, core_message {{/str}}</h3>
        <div class="hidden align-self-center ml-auto" data-region="loading-icon-container">
            {{> core/loading }}
        </div>
    </div>
    <div class="p-3" data-region="loading-placeholder-container">
        <div class="d-flex justify-content-center">
            <div class="bg-light rounded-circle" style="height: 50px; width: 50px"></div>
            <div class="bg-light ml-2 mt-2 w-50" style="height: 20px;"></div>
        </div>
        <div class="bg-light my-2 mt-4 w-50" style="height: 20px"></div>
        <div class="bg-light my-2 w-100" style="height: 1px"></div>
        <div class="bg-light my-2 w-50" style="height: 20px"></div>
        <div class="bg-light my-2 w-100" style="height: 1px"></div>
        <div class="bg-light my-2 w-50" style="height: 20px"></div>
        <div class="bg-light my-2 w-100" style="height: 1px"></div>
    </div>
    <div class="p-3" data-region="content-container"></div>
</div>