
<div class="card course-card border-0">
    <div class="card-img-top bg-pulse-grey w-100" style="height: 7rem">
    </div>
    <div class="card-body course-info-container">
        <div class="bg-pulse-grey w-100 m-b-3" style="height: 1rem"></div>
    </div>
    <div class="bg-pulse-grey w-100" style="height: 3rem">
    </div>
</div>	