<div id="contact-{{userid}}" class="row-fluid contact {{#lastmessage}}contact-msg{{/lastmessage}}">
    <div class="span2 picture">
        {{{picture}}}
    </div>
    <div class="span10 information">
        <div class="name">{{name}} {{#isonline}}*{{/isonline}}</div>
        {{#lastmessage}}
            <p class="lastmessage">{{.}}</p>
        {{/lastmessage}}
    </div>
</div>
