/**
 * Structure of a forum post
 *
 * div.forumpost(.unread)
 *   div
 *     header
 *       div
 *         img
 *           // User image
 *       div
 *         h3
 *         address
 *         span
 *           // Reply count
 *    div.body-content-container
 *      div.author-groups-container
 *      div.content-alignment-container
 *        div.post-content-container
 *          // message
 *        p
 *          small
 *            // word count
 *        div
 *          // attachments
 *        div.flxex-wrap
 *          div
 *            form.postratingform
 *            div.ratingform
 *          div.post-actions
 *            // Links to post actions
 *        div data-region="replies-container"
 *          div.indent
 *            article.forum-post-container
 *            // Reply format as above for div.forumpost
 */

.path-mod-forum .forumolddiscuss,
#page-mod-forum-search .c0 {
    text-align: right;
}

.path-mod-forum .indent {
    margin-left: 3%;
}

/** Styles for subscribers.php */
#page-mod-forum-subscribers .subscriberdiv,
#page-mod-forum-subscribers .subscribertable {
    width: 100%;
    vertical-align: top;
}

#page-mod-forum-subscribers .subscribertable tr td {
    vertical-align: top;
}

#page-mod-forum-subscribers .subscribertable tr td.actions {
    width: 16%;
    padding-top: 3em;
}

#page-mod-forum-subscribers .subscribertable tr td.actions .actionbutton {
    margin: 0.3em 0;
    padding: 0.5em 0;
    width: 100%;
}

#page-mod-forum-subscribers .subscribertable tr td.existing,
#page-mod-forum-subscribers .subscribertable tr td.potential {
    width: 42%;
}

/** Styles for view.php **/
.discussion-list .userpicture,
.discussion-list .grouppicture {
    height: 35px;
    width: 35px;
}

/** Styles for search.php */
#page-mod-forum-search .introcontent {
    padding: 15px;
    font-weight: bold;
}

/** Styles for email template */
#email .unsubscribelink {
    margin-top: 20px;
}

/* Forumpost unread
-------------------------*/
.forumpost.unread .row.header,
.path-course-view .unread,
span.unread {
    background-color: #ffd;
}

.forumpost.unread .row.header {
    border-bottom: 1px solid #ddd;
}

/* Forumpost hash anchor target */
.path-mod-forum :target > .forumpost:before {
    display: block;
    content: '';
    width: 4px;
    position: absolute;
    background: #0070a8;
    left: -1px;
    top: -1px;
    bottom: -1px;
}

/* Discussion navigation */
.path-mod-forum .discussion-nav {
    margin: .5em 0;
}

.path-mod-forum .discussion-nav ul {
    margin: 0;
    list-style: none;
}

.path-mod-forum .discussion-nav .prev-discussion:before {
    /*rtl:raw:
    content: ' ► ';
    */
    /*rtl:remove*/
    content: ' ◄ ';
}

.path-mod-forum .discussion-nav .next-discussion:after {
    /*rtl:raw:
    content: ' ◄ ';
    */
    /*rtl:remove*/
    content: ' ► ';
}

.path-mod-forum .discussion-nav .next-discussion {
    float: right;
}

.path-mod-forum .discussion-nav .prev-discussion {
    float: left;
}

.path-mod-forum .preload-subscribe {
    background: url([[pix:mod_forum|t/subscribed]]) no-repeat -9999px -9999px;
}

.path-mod-forum .preload-unsubscribe {
    background: url([[pix:mod_forum|t/unsubscribed]]) no-repeat -9999px -9999px;
}

.path-mod-forum .discussionsubscription,
.path-mod-forum .discussion-settings-menu,
.path-mod-forum .discussionsubscription {
    margin-top: -10px;
    text-align: right;
    margin-bottom: 10px;
}

.privatereplyinfo {
    font-size: 80%;
}

.forum-post-container:focus {
    outline: 0;
}

/* This style is copied directly from the Bootstrap reboot file which adds button outline */
/* stylelint-disable declaration-block-no-duplicate-properties */
.post-actions .btn:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

.forum-post-container:focus > .focus-target {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}
/* stylelint-enable declaration-block-no-duplicate-properties */
