{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core/region_main_settings_drawer

    This template renders the region main settings in a drawer.

    Example context (json):
    {}
}}
<div id="region-main-settings-drawer-container-{{uniqid}}">
    <button
        class="btn btn-icon icon-size-4 icon-no-margin colour-inherit"
        data-action="toggle-drawer-{{uniqid}}"
        data-toggle="tooltip"
        data-placement="bottom"
        aria-controls="drawer-{{uniqid}}"
        aria-expanded="false"
        title="{{#str}} blocks, core {{/str}}"
    >
        {{#pix}} a/view_icon_active, core {{/pix}}
    </button>
    {{< core/drawer }}
        {{$drawerid}}drawer-{{uniqid}}{{/drawerid}}
        {{$drawercontent}}
            <div class="h-100 w-100 bg-white d-flex flex-column">
                <div class="d-flex align-items-center mb-2  p-2">
                    <button
                        class="btn btn-icon icon-size-3 icon-no-margin mr-1 colour-inherit"
                        data-action="toggle-drawer-{{uniqid}}"
                        aria-controls="drawer-{{uniqid}}"
                        aria-expanded="false"
                        title="{{#str}} closebuttontitle, core {{/str}}"
                    >
                        <span class="dir-ltr-hide">{{#pix}} t/left, core {{/pix}}</span>
                        <span class="dir-rtl-hide">{{#pix}} t/right, core {{/pix}}</span>
                    </button>
                    <h2 class="font-weight-bold h3 mb-0">{{#str}} blocks, core {{/str}}</h2>
                    <button
                        class="btn btn-icon icon-size-3 icon-no-margin colour-inherit ml-auto"
                        title="{{#str}} addblock, core {{/str}}"
                        data-toggle="tooltip"
                        data-placement="bottom"
                        data-key="addblock"
                    >
                        {{#pix}} e/insert, core {{/pix}}
                    </button>
                </div>
                <div class="d-flex flex-column" aria-orientation="vertical" style="overflow-y: auto">
                    {{#blocks}}
                        <div class="border-top">
                            {{> core/block }}
                        </div>
                    {{/blocks}}
                </div>
            </div>
        {{/drawercontent}}
    {{/ core/drawer }}
</div>
{{#js}}
require(['jquery', 'core/drawer'], function($, Drawer) {
    var container = $('#region-main-settings-drawer-container-{{uniqid}}');
    var toggles = container.find('[data-action="toggle-drawer-{{uniqid}}"]');
    var drawer = $('#drawer-{{uniqid}}');
    Drawer.registerToggles(drawer, toggles);
});
{{/js}}
