<h2>Stuff</h2>
<button id="swap" type="button" class="btn btn-primary">Change view</button>
<hr/>
<div id="app"></div>
{{#js}}
require(['jquery', 'core/mustache_component'], function($, MustacheComponent) {
    var timeline = true;
    var context = {
        viewingtimeline: true,
        viewingcourses: false
    };

    var component = new MustacheComponent(
        document.getElementById('app'),
        'block_myoverview/main',
        context
    );
    context = component.getTemplateContext();

    $('#swap').on('click', function(e) {
        timeline = !timeline;

        if (timeline) {
            context.viewingtimeline = true;
            context.viewingcourses = false;
        } else {
            context.viewingtimeline = false;
            context.viewingcourses = true;
        }
    });
});
{{/js}}