{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core/modal

    Moodle modal template.

    The purpose of this template is to render a modal

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:

    Example context (json):
    {
    }
}}

<h2>TEST</h2>
<a id="create-from-config" href="#">create from config</a></br>
<a id="modal-save-cancel" href="#">create save cancel</a></br>
<a id="create-large-modal" href="#">create large modal</a></br>
<a id="modal-in-modal" href="#">modal in modal</a></br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
<div class="moodle-has-zindex big-index"></div>
{{#js}}
require(['core/test_modal_page'], function(page) {
    page.init();
});
{{/js}}
