<div class="row">
    <h2>Client render paging dropdown static list</h2>
    <p>These pages are rendered using data already loaded in the client so the
        pages should show immediately when clicked.</p>
    <div class="col-sm-6 span6" id="paging-dropdown-static-container">
    </div>
</div>
{{#js}}
require(
[
    'jquery',
    'core/templates',
    'core/paged_content_factory'
],
function(
    $,
    Templates,
    PagedContentFactory
) {
    var container = $('#paging-dropdown-static-container');
    var items = [];
    for (var i = 1; i <= 30; i++) {
        items.push(`Static list item ${i}`);
    }

    PagedContentFactory.createFromStaticList(
        items,
        5,
        function(itemSets) {
            var promises = [];

            itemSets.forEach(function(itemSet) {
                var card = $('<div><div class="card"><div class="card-body"></div></div></div>');
                var cardBody = card.find('.card-body');
                itemSet.forEach(function(item) {
                    cardBody.append(`<p>${item}</p>`);
                });

                promises.push($.Deferred().resolve(card.html(), ''));
            });

            return promises;
        },
        {
            dropdown: true,
            maxPages: 3
        }
    )
    .then(function(html, js) {
        Templates.replaceNodeContents(container, html, js);
    })
}
);
{{/js}}
