{{#viewstore}}
	<input
		type="text"
		defaultValue="{{title}}"
	/>
	<h2>{{title}}</h2>
	<ul>
		{{#items}}
			<li>{{.}}</li>
		{{/items}}
	</ul>

	{{#js}}
		require(['jquery', 'core/test'], function($, Test) {
			Test.init($(getRootElement()), getViewState());
		});
	{{/js}}
{{/viewstore}}
